html{
    scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
}
body{
    margin:0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    /*font-family: 'Playfair Display', serif;*/
}
nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*border: 5px solid rgba(66, 61, 61, 0.973);*/
    background-color: white;
}

nav .onglets a{
    text-decoration: none;
    color:black;
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    transition: border 0.3s ease-in-out;
    border-bottom: 1px solid transparent;
}
nav .onglets a:hover{
    border-color:black;
}
nav .onglets{
    margin-top : 3px;
    margin-left: 300px;
    
}
img{
    width: 105px;
    height: 105px;
}
div#conteneur{
    display: flex;
    width: 30%;
}
div#conteneur h1{
    align-self: center;
}
div#MenuHaut{
    display: flex;
    justify-content: flex-start;
    border-bottom:solid 5px #6f6f6f;
}
footer{
    position : relative;
    margin-top: 40px;
    border-top: solid 5px #6f6f6f;
    background-color: rgb(30, 49, 75);
    color: white;
    padding: 30px 100px;
}
footer h3{
    font-family: 'Playfair  Display', serif;
    color: rgba(255,86,95,255);
    width: 50%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap: wrap;

}
footer .services .service{
    margin-right: 30px;
    padding : 10px;


}
footer .services .service  p{
    max-width: 300px;
}
footer #contact{
    color: rgb(181, 181, 181)
}
.main{
    /*margin-top:40px;*/
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    align-items: center;
    background: white no-repeat scroll 0 0 / 100% auto;
}
.main .content .card{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}
.main .content .card .left{
    flex : 0 0 30%;
    padding: 20px;
    background-color: white;
    color: black;
    font-family: 'Playfair Display', serif;
}
.main .content .card.right{
    flex : 0 0 70%;
}
.main .content .card img{
    height: 400px;
    width: 700px;
    margin-top: 5px;
    padding: 5px;
    border : solid 3px rgba(66, 61, 61, 0.10);
}
.main h1{
    color: rgba(255,86,95,255);
}
@media screen and (max-width: 900px){
    .main .content .card img{
        width : 60%;
        height : 60%;
    }
    nav{
        display:none;
    }
    .main .content .card{
        display: flex;
        justify-content: flex-end;
    }
    .main{
       flex-wrap: wrap; 
    }
    p{
        width:70vw;
        height: 25vh;
    }
    .main .content .card .right{
        display: flex;
        justify-content: center;
    }
    .main .content .card .left{
        height:25vh;
    }
    footer{
        padding:5px;
       height: 100vh;
       display: flex;
       flex-direction: column; 
       justify-content: flex-end;
    }
    footer .services .service{
        /*display:inline-block;*/
        height: 25vh;
        width: 45vw;
        
        
    }
    footer .services{
        display: flex;
        justify-content:center;
        width: 95vw;
        /*display: inline-block;*/
      
        
    }
}
/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 78px;
  background:rgba(44,62,80,255);
  border-right: #6f6f6f 3px solid;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #ff5660;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #ff5660;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #d63a44;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #ff5660;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}


.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}




.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
@media screen and (max-width: 370px){
    .main .content .card p{
        height: 10vh;
        width:80vw;
        
    }
    p{
        height: 10vh;
        width: 80vw;
        font-size: small;
    }
}
