@import '/styles/connexion.css';
@import '/styles/propos.css';
@import '/styles/mentionslegal.css';

html{
    scroll-behavior: smooth;
    height: 100%;
}
@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
}
body{
    height: 100%;
    margin:0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    /*font-family: 'Playfair Display', serif;*/
}
nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    /*border: 5px solid rgba(66, 61, 61, 0.973);*/
}

nav .onglets a{
    text-decoration: none;
    color:black;
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    transition: border 0.3s ease-in-out;
    border-bottom: 1px solid transparent;
}
nav .onglets a:hover{
    border-color:black;
}
nav .onglets{
    margin-top : 3px;
    margin-left: 300px;
    
}
img{
    width: 105px;
    height: 105px;
}
div#conteneur{
    display: flex;
    width: 30%;
}
div#conteneur h1{
    align-self: center;
}
div#MenuHaut{
    display: flex;
    justify-content: flex-start;
    border-bottom:solid 5px #6f6f6f;
    background-color: #4bC2BC;
}
footer{
    margin-top: 40px;
    border-top: solid 5px #6f6f6f;
    background-color: rgb(30, 49, 75);
    color: white;
    padding: 30px 100px;

}
footer h3{
    font-family: 'Playfair  Display', serif;
    color: rgba(255,86,95,255);
    width: 50%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap: wrap;

}
footer .services .service{
    margin-right: 30px;
    padding : 10px;


}
footer .services .service  p{
    max-width: 300px;
}
footer #contact{
    color: rgb(181, 181, 181)
}





/* je met le style de la page connexion ici car je ne sais pas
pourquoi met quand j'ouvre via github le css est cassé */

.container .block form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 100px;
}

.container, .block{
    /* height: 100%; */
    display: flex;
    align-items: center;
}

.fond{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.titre, label, input{
    font-family: 'Oswald', sans-serif;
    color: #4bC2BC;
}



.titre h1{
    margin: 50px 0 0 0;
}

input, label{
    margin: 5px 0px;
    border-color: black;
    font-size: 18px;
}
input:last-child{
    color:white;
    background-color: #4bC2BC;
    padding: 14px;
    border-radius: 4px;
    margin-top: 30px;
}

input:last-child:hover{
    background-color: #96a7a8;

}

input.champ{
    background-color:#ecf0f1 ;
    color:black;
    font-family: 'Oswald', sans-serif;
}

.fond #header{
    background-color: #4bC2BC; 
}

.fond #header #conteneur{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family:  'Oswald', sans-serif;
}
.fond #header #conteneur img{
    margin-right: 10px;
}