body{
    margin:0;
    padding:0;
    min-height: 100vh;
    background: linear-gradient(125deg,#0a3d62,#3c6382);
    display: flex;
    justify-content: center;
    font-family: "montserrat",sans-serif;
}
.message{
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color:#343434
}
.message h1{
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 25px;
    background: url('fond404V1.jpg');
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.message a{
    text-decoration: none;
    background: #f6b93b;
    color:#fff;
    padding : 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-family: 'Arial Black';
    text-transform: uppercase;
    transition: 0.4s;
}
.message a:hover{
    background: #fa983a;
}
.message p{
    font-family: 'Arial Black';
}
